@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');


/* Section principale */
.hero-section {
    position: relative;
    height: 100vh;
    background: url('../images/lion-bg.jpg') no-repeat center center/cover;
}


/* Contenu principal */
.hero-content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

/* Boîte de texte */
.text-box {
    background: rgba(144, 238, 144, 0.8);
    padding: 20px;
    border-radius: 70px;
    text-align: center;
    font-family: "Neucha", serif;
}

.text-box h1 {
    font-size: 74px;
    font-weight: normal;
}



.title-habitat {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.habitat {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.habitat img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.habitat p {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #F5F5DC;
    font-size: 1.5rem;
    padding: 10px 0;
    margin: 0;
}

.btn-habitat {
    font-size: 1.2rem !important;
    border-radius: 20px !important;
    padding: 10px 20px !important;
}

.btn-success:hover {
    background-color: #5aa468 !important;
}

/* Section animaux */
.title-animaux {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 0 60px;
    z-index: 1;
}



.carousel {
    display: flex;
    gap: 20px;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    position: relative;
    z-index: 2;
}

.animal-img {
    width: 300px;
    height: auto;
    justify-content: center;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

.animal-img:hover {
    transform: scale(1.05);
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(to right, #4CAF50, #2E7D32);
    opacity: 0.85;
    color: #F5F5DC;
    border: none;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    z-index: 20;
}

.arrow:hover {
    background: linear-gradient(to right, #388E3C, #1B5E20);
    transform: translateY(-50%) scale(1.1);
}

.left {
    left: 5px;
}

.right {
    right: 5px;
}

.btn-animaux {
    border: none !important;
    border-radius: 20px !important;
    font-size: 1.2rem !important;
    padding: 10px 20px !important;
}


/* Section avis  */

.section-avis {
    text-align: center;
    padding: 60px 0;
}

.card {
    border-radius: 20px !important;
    background: rgba(90, 164, 104, .95) !important;
    padding: 20px !important;
    margin: 10px !important;
}

.stars {
    color: #ffc107;
    font-size: 1.2rem;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #2E7D32;
    border-radius: 50%;
    padding: 20px;
}

.btn-avis {
    border: none !important;
    border-radius: 20px !important;
    font-size: 1.2rem !important;
    padding: 10px 20px !important;
}


/* Le pied de page (footer) */

.footer {
    background-color: rgba(120, 141, 86, 0.3) !important;
    border-radius: 30px !important;
    margin: 0px 30px !important;
}

.energy-img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s;
}

.energy-img:hover {
    transform: scale(1.05);
}

.footer a {
    text-decoration: none;
    color: black;
}

.footer a:hover {
    text-decoration: underline;
    color: #2E7D32;
}
/* Pour les ordi-portable et tablettes */
@media (max-width: 1024px) {

    .hero-content {
        top: 63%;
        width: 80%;
    }
}

/* Pour les tablettes*/
@media (max-width: 768px) {

    .custom-navbar {
        margin: 0 30px;
    }

    .navbar-toggler {
        margin-left: 10px !important;
    }

    .hero-content {
        top: 65%;
        width: 90%;
    }

    .text-box {
        padding: 20px;
    }

    .text-box h1 {
        font-size: 28px;
    }

}

/* Pour les mobiles petits */
@media (max-width: 530px) {
    
    .social-icons {
        margin-bottom: 15px;
    }
    .energy-img {
        display: block;
        width: 150px;
        margin: 10px 0;
    }

    #btn-login {
        display: none;
    }
    
    .custom-navbar {
        margin: 0 30px;
    }

    .hero-content {
        top: 65%;
        width: 90%;
    }

    .text-box {
        padding: 20px;
    }

    .text-box h1 {
        font-size: 28px;
    }

    /* Cartes des avis  */

    .card {
        border-radius: 20px !important;
        background: rgba(90, 164, 104, .95) !important;
        padding: 20px !important;
        margin: 10px 55px !important;
    }
}