.habitat-card {
    border-radius: 20px !important;
    overflow: hidden !important;
    border: none !important;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2) !important;
    background-color: #eeeebd !important;
    transition: transform 0.3s ease-in-out !important;
}


.habitat-card img {
    height: 170px;
    object-fit: cover;
}

.habitat-card .card-title {
    font-size: 2.2rem;
    font-weight: bold;
    color: #333;
}

.habitat-card .card-body {
    padding: 20px;
}

.habitat-card .card-text {
    font-size: 1.1rem;
}

.btn-habitat {
    background-color: #4CAF50 !important;
    color: #010100 !important;
    padding: 10px 20px !important;
    border-radius: 25px !important;
    font-weight: bold !important;
    transition: transform 0.3 ease-in-out !important;
    display: inline-block !important;
}

.btn-habitat:hover {
    background-color: #388E3C !important;
    transform: scale(1.03);
}

.card-footer {
    border-top: none !important;
    padding: 15px !important;
}

@media (max-width: 530px) {
    .habitat-card {
        max-width: 80%;
        left: 10%;
    }

    .habitat-card img {
        height: 150px;
    }

    .habitat-card .card-title {
        font-size: 18px;
        text-align: center;
    }
    
    .habitat-card .card-body {
        padding: 15px;
    }
    
    .habitat-card .card-text {
        font-size: 14px;
    }

}